*::-webkit-input-placeholder {
  color: #000000;
}
*:-moz-placeholder {
  color: #000000;
}
*::-moz-placeholder {
  color: #0a0a0a;
}
*:-ms-input-placeholder {
  color: #090909;
}

#containter {
text-align: center;
}

h3{
color: #feffff;
font-family: cursive;
font-weight: bold;
font-size: 72px;
margin-top: 50px;
}

.textbox {
margin-top: 40px;
font-family: cursive;
border: 1px solid #f2f2f2;
color: #0f0f0f;
opacity: .7;
border-radius: 10px;
padding: 30px;
text-align: center;
width: 500px;
transition: all .3s;
-webkit-transition: all .3s;
-moz-transition: all .3s;
font-size: 30px;
outline: none;
background-color: #ffffff;
}

.textbox:focus {
width: 700px;
outline: none;
}


.R-button{
  margin-top: 100px;
  font-size: 50px;

  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 320px;
  height: 320px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
}

.R-button:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}