
html,body {
	font-size: 16px;	/*画面幅481px以上で閲覧した際の文字サイズ。ここを変更すると、他の文字サイズも連動します。※480px以下の指定箇所は下の方に別途あります。*/
	
}
body {
	
	color: #999;	/*全体の文字色*/
	font-family: "M PLUS Rounded 1c", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	line-height: 2;		/*行間*/
	background: #fff;	/*背景色*/
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
	
}

a {
	color: #999;		/*リンクテキストの色*/
	transition: 0.2s;	/*マウスオン時の移り変わるまでの時間設定。0.2秒。*/
}
a:hover {
	color: #5ed4f1;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

.h1{
    font-size: 60px;
    /* transform: translateX(-50%) rotate(-10deg);  */  /*斜めに傾ける*/
    text-align: center;
    
	
	
  }
.h2{
	background-color: #f2f2f2;
	/*コレ*/text-align: center;
    height: 50px;
    border: 1px solid #333;
}

.container{
	height: 50px;
	/*コレ*/text-align: center;
}
  
  